@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.header {
  position: sticky;
  top: 0;
  z-index: 50;
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.75);
  border-bottom: 1px solid rgba(15, 23, 42, 0.08);
  transition: background 0.3s ease;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  height: 72px;
}

/* Desktop nav */
.desktopNav {
  display: none;
}

.headerList {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.headerItem a {
  text-decoration: none;
  font-weight: 600;
  color: #475569;
  font-family: sans-serif;
  border-radius: 8px;
  font-size: 14px;
  transition: all 0.25s ease;
}

.headerItem a:hover {
  color: #1e293b;
  /* background: rgba(37, 99, 235, 0.08); */
  transform: translateY(-2px);
}

/* Hamburger button */
.menuBtn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 26px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 100;
}

.bar {
  height: 3px;
  width: 100%;
  background: #334155;
  border-radius: 3px;
  transition: 0.3s;
}
.headerLinkBtn{
    padding: 15px 25px;
    background: #F58A07;
    color: #334155 ;
}
.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.open .bar:nth-child(2) {
  opacity: 0;
}

.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Mobile nav */
.mobileNav {
  position: absolute;
  top: 72px;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(8px);
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 8px 20px rgba(15, 23, 42, 0.1);
}

.mobileNav ul {
  list-style: none;
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.mobileNav a {
  text-decoration: none;
  font-family: "Roboto",sans-serif;
  font-weight: 600;
  color: #334155;
  padding: 10px;
  border-radius: 6px;
  transition: background 0.2s;
}

.mobileNav a:hover {
  background: rgba(37, 99, 235, 0.08);
  color: #1e293b;
}

.mobileNav.open {
  transform: translateY(0);
}

/* Responsive */
@media (min-width: 768px) {
  .desktopNav {
    display: block;
  }
  .menuBtn {
    display: none;
  }
  .mobileNav {
    display: none;
  }
}
